.draggable-container {
  display: flex;
  cursor: grab;
  z-index: 1000;
  height: 50px; /* Adjust height as necessary */
}

.left-arrow,
.right-arrow {
  width: 5%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}

.middle-data {
  width: 90%;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.left-arrow {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right-arrow {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
