/* .card {
    position: relative;
    width: 33%;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-image {
    transform: scale(1.05);
}

.card:hover .card-overlay {
    display: flex;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.5);

    align-items: center;
    justify-content: center;
    display: none;
}

.card-details {
    color: white;
    text-align: center;
}

.card-details h2 {
    margin: 0;
    font-size: 1.5em;
}

.card-details p {
    margin: 5px 0;
    font-size: 1em;
} */